main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.page{
    text-align: center;
    margin-top: 40px;
}
p{
    text-align: center;
    margin-top: 40px;

}
.lien{
    text-decoration: underline;
}
main h3{
    margin-top: 60px;
    margin-bottom: 30px;
}
iframe{
    margin-top: 40px;
    margin-bottom: 40px;
}
.page h1{
    color: white;
}
.adresse{
    font-size: 1.5rem;
}

/* FORMULAIRE*/
form{
    max-width: 900px;
    background-color: #13336e; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 10px;
    border: solid 1px white;
}
input{
    width: calc(27% - 5px);
    margin: 8px;
    margin-top: 40px;
    padding: 10px;
    height: 4vh;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    color: #1a2434;
}
textarea{
    width: calc(100% - 40px);
    margin-top: 40px;
    height: 20vh;
    margin-left: 15px;
    padding: 8px;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    color: #1a2434;
    
}
button{
    margin: 8px;
    margin-top:40px;
    margin-bottom: 40px;
    padding: 15px;
    border-radius: 10px;
    height: 100%;
    border: solid 1px white;
    background-color: #C30404;
    color: white;
    cursor: pointer;
    font-family: Quicksand;
    font-size: 1.2rem;
    
}
button:hover{
    background-color: #7a0909;
    transform: scale(1.1);
}
.button{
    display: flex;
    justify-content: center;
}
label{
    margin-left: 10px;
}
::placeholder{
    padding: 3px;
    
}
div.error-message{
    color: #df1e1e;
    font-weight: bold;
    margin: 1rem 1rem;
    font-size: 1.2rem;
}


/* REMERCIEMENTS */
.photogroupe{
    margin-top: 40px;
    margin-bottom: 40px;
}
.merci{
    margin-top: 50px;
}
.retour{
    margin-top: 50px;
}


/* RESPONSIVE */
/* RESPONSIVE tablette */
@media only screen and (max-width : 990px){
    iframe{
        width: 100vw;
    }

    label{
        color: white;
    }
    button{
        width: 20vw;
    }
    div .photogroupe{
        width: 100%;

    }
}

/* RESPONSIVE Mobile*/
@media only screen and (max-width : 768px){
    main{
        background-color: #D3DFF2;
    }
    p{
        color: #1a2434;
        font-size: 1.2rem;
        padding: 5px;
    }
    .page h1{
        color: #1a2434;
    }
    .lien{
        color: #1a2434;
    }
    h3{
        color: #1a2434;
    }
    input{
        width: 90%;
        height: 5vh;
        margin-bottom: 40px;
    }
    form{
        padding-top: 5vh;
        background-color: #1a2434;
    }
    label{
        font-size: 1.2rem;
        font-weight: bold;
    }
    button{
        width: 40%;
    }
    .merci{
        color: #1a2434;
    }
    .photogroupe{
        height: 50%;
    }
    .retour{
        color: #1a2434;
    }
}