*{
    margin: 0;
    padding: 0;
    color: white;
    
}
body{
    background-color: #1a2434;
    font-family: Quicksand;
}
header{
    display: grid;
    grid-template-columns: 1fr 7fr 2fr;
}
header .socialMedia{
    grid-column: 3;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.logo{
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    grid-column: 2;
}
.menu{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
    margin-top: 40px;
}
.sous-menu{
    position: absolute;
    list-style-type: none;
    z-index: 1000;
    display: none;
    background-color: #1a2434;
}
nav > ul li:hover .sous-menu{
    display: block;
}
.menu-deroulant{
    cursor: pointer;
}
.menu-deroulant a{
    text-decoration: none;
}
.sous-menu li a{
    text-decoration: none;
    
}
.sous-menu li:hover{
    background-color: #c30404;
}
.sous-menu li a:hover{
    background-color: #c30404;
}
.sous-menu li{
    border: 0.5px solid white;
    padding: 10px;
    border-radius: 7px
}
.toggle{
    display: none;
}

/* BANNIERE*/
.banniere{
    display: flex;
   background-color: #D3DFF2;
   color: #1a2434;
   justify-content: center;
   padding: 1em;
   align-items: center;
   gap: 20px;   
}
.banniere img{
    background-color: #D3DFF2;
}
/* SPONSOR*/
#sponsor{
    display: grid;
    grid-template-columns: 33vw 33vw 33vw;
    grid-template-rows: auto;
    background-color: #13336E;
    background-size: cover;
    border: solid #D3DFF2 0.5px;
    height: 300px;
    width: auto;

}
.sponsor{
    justify-self: center;
    align-self: center;
}
/*FOOTER*/
footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
footer .socialMedia{
    grid-column: 3;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.footer li{
    display: flex;
    justify-content: center;
    margin-top: 3vh;
}
.footer li a{
    text-decoration: none;
    font-size: 1.2rem;
}
footer ul{
    padding-bottom: 3vh;
}

/* RESPONSIVE */
/* RESPONSIVE tablette */
@media only screen and (max-width : 990px){
    header{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .toggle{
        display: block;
        font-size: 4rem;
        float: right;
        position: relative;
        cursor: pointer;
        z-index: 30;
        margin-top: 1vh;
        margin-right: 5vw;
    }
    .menu{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        transform: translateX(-100%);
        transition: transform 1s;
        z-index: 20;
        background-color: #1a2434;
    }
    .sous-menu li{
        border: 0.5px solid transparent;
        z-index: 1000;
    }
    .ouvrir{
        display: block;
    }
    .toggle .fermer{
        display: none;
        margin: 1vh;
    }
    .open .ouvrir{
        display: none;
    }
    .open .fermer{
        display: block;
    }
    .open .menu{
        transform: translateX(0);
    }
    .logo{
        z-index: 30;
        position: relative;
        cursor: pointer;
        margin-left: 3vw;
    }
    nav ul{
        font-size: 2rem;
    }
    #sponsor{
        display: none;
    }
    header .socialMedia{
        display: none;
    }
    .footer{
        display: none;
    }
    footer{
        display: block;
        margin: 20px;
    }
    
}

/* RESPONSIVE Mobile*/
@media only screen and (max-width : 768px){
    nav ul{
        font-size: 1.5rem;
    }
    .sous-menu{
        width: 100%;
        left: 0;
        text-align: center;
    }
    .banniere{
        display: none;
    }
    .sous-menu li{
        border: 0.5px solid transparent;
    }
    #sponsor{
        display: none;
    }
}