/* Carrousel*/
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#carrousel{
    width: 1000px;
    height: 600px;
    border: solid #D3DFF2 2px;
    margin-top: 100px;
    position: relative;
    overflow: hidden;
}


#container {
    width: 1000px;
    height: 600px; 
}

.photo {
    width: 1000px;
    height: 600px;
    margin: 0;
    display:inline-block; /* Reste sur la même ligne*/
    background-size: cover;
}

.bouton{
    position: absolute;
    width: 70px;
    cursor: pointer;
    top: 250px;   
}

#droit{
    right: 0;
    opacity: 0.4;
}
#droit:hover{
    opacity: 1;
}
#gauche{
    opacity: 0.4;
}
#gauche:hover{
    opacity: 1;
}

/* Mise en page présentation*/
main img{
    display: none;
}
.fond{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 25vw 50vw 25vw;
    background: url(./imageFond.png), lightgray 50% / cover no-repeat;
    margin-top: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
#presentation{
    grid-column: 2;
    grid-row: 1;
    height: 400px;
    width: auto;
    color: #1a2434; 
    font-weight: 700;
    background-color: transparent;
}
.presentation{
    background-color: rgba(211, 223, 242, 0.60);
    padding: 10px;
    margin-top: 80px;
    border:solid #1a2434 0.5px ;
    border-radius: 7px;
}
.titre{
    color: #C30404;
    font-size: 1.5em;
    padding-left: 0;
    padding-bottom: 2vh;
    background-color: rgba(211, 223, 242, 0.60);
    
}
.texte{
    background-color: rgba(211, 223, 242, 0.60);
    color: #1a2434;
    padding: 5px;
}

/* RESPONSIVE tablette*/
@media only screen and (max-width : 990px){
    #carrousel{
        width: 90%;
    }
    .presentation{
        margin-top: 50px;
    }
}

/* RESPONSIVE mobile*/
@media only screen and (max-width : 768px){
    main{
        background-color: #D3DFF2;
        display: flex;
        flex-direction: column;
    }
    main img{
        display: block;
        width: 100%;
    }
    #carrousel{
        width: 100%;
        margin-top: 5vh;
    }
    .fond{
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 0;
        background: none;
    }
    .presentation{
        margin: 0;
        border: none;
        padding-top: 5vh;
    }
    h2{
        text-align: center;
    }

}
